{% extends 'base.html' %}

{% block pageTitle %}
      {{pageTitle}}
{% endblock pageTitle %}


{% block contents %}
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>General Form</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">General Form</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Quick Example</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" method="POST">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label for="Horsepower">Displacement</label>
                    <input type="text" class="form-control" id="Displacement" name="Displacement" placeholder="Enter email">
                  </div>
                  <div class="form-group">
                    <label for="Horsepower">Horsepower</label>
                    <input type="text" class="form-control" id="Horsepower" name="Horsepower" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <label for="weight">Weight In LBS</label>
                    <input type="text" class="form-control" id="weight" name="Weight" placeholder="Password">
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
  </section>
{% endblock contents %}
    