{% extends 'base.html' %}

    
{% block pageTitle %}
      {{pageTitle}}
{% endblock pageTitle %}

{% block contents %}
  
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>DataTables</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">DataTables</li>
          </ol>
        </div>
      </div>
        {% if messages %}
            {% for message in messages %}
                <div>
        <!--                | means OR operator-->
                    <strong style="color: red;">{{message|safe}}</strong>
                </div>
            {% endfor %}
        {% else %}
        {{order}}
        <form action="{% url 'home:csv' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <small>Only accepts CSV files</small>
            <button type="submit">Upload</button>
        </form>
        {% endif %}
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
        <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">DataTable with minimal features & hover style</h3>
          <form>
            <a href="{% url 'home:csvlist' %}" class='btn btn-danger'>Hapus semua</a>
          </form>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>No</th>
                <th>Tahun</th>
                <th>Bulan</th>
                <th>Harga</th>
                <th>Nama Item</th>
            </tr>
            </thead>
            <tbody>
                {% for data in object_list %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{data.nama_tahun}}</td>
                    <td>{{data.nama_bulan}}</td>
                    <td>{{data.data_content}}</td>
                    <td>{{data.nama_item}}</td>
                </tr>
                {% endfor %}
                            
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
      <!-- /.card -->
    </div>
    <!-- /.col -->
        </div>
    </div>
</section>
{% endblock contents %}
    